<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Acclaim URL Generator -->
    <add key="AUG_TimeOffset" value="2"/>
    <!-- GenTok and pass currently get as a parameter for the action -->
    <add key="AUG_GenTok" value="2%2B%21%40%23%40%23%7D%7B%3CLCU%24%7E"/>
    <add key="AUG_UrlBegin" value="https://benefitsolutions.bankofamerica.com/bensol/servlets/LoginServlet?"/>
    <add key="AUG_BlowPass" value=""/>
    <add key="AUG_Static1" value="87FK"/>
    <add key="AUG_Static2" value="3ST1A1D2MN926U8"/>
    <add key="AUG_Static3" value="8JS5"/>
    <add key="AUG_Static4" value="7SH2"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AcclaimURLGeneratorSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:40842/AcclaimURLGenerator.asmx"
        binding="basicHttpBinding" bindingConfiguration="AcclaimURLGeneratorSoap"
        contract="AcclaimUrlGeneratorWS.AcclaimURLGeneratorSoap" name="AcclaimURLGeneratorSoap" />
    </client>
  </system.serviceModel>
</configuration>